**/tags
*.un~
.*.sw?
.VimballRecord
.cache/*
.netrwhist
backup/*
GetLatest/*
autoload/*
bundle/*
contrib/*
doc/*
ftdetect/*
pack/dist/start/alt/*
plugin/*
spell/*
spellfile*
syntax/*
undo/*
undo_recover/*
view/*
